<h1>Hi! I am admin</h1>

<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Phone</th>
      <th>Adress</th>
      <th>Ordered</th>
      <th>Updated at</th>
    </tr>
  </thead>
  <% @orders.each do |order| %>
  <% @ord_input = parse_orders_input order.orders_input %>
  <tbody>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.name %></td>
      <td><%= order.phone %></td>
      <td><%= order.adress %></td>
      <td>
        <ul type ="disc">
          <% @ord_input.each do |item| %>
            <% item[0] = Product.find(item[0]) %>
          <% end %>
          <% @ord_input.each do |item| %>
          <li><%= item[0].title %> = <%= item[1] %></li>
          <% end %>
        </ul>
      </td>
      <td><%= order.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
