<h1>Welcome to PizzaShop</h1>


<div class="container">
  <div class="row">
    <% @products.each do |p| %>
    <P>
      <div class="col-md-4">
        <div>
          <%= p.title %>
        </div>
        <div>
          <img src="<%= p.path_to_image %>" />
        </div>
        <div>
          <%= p.description %>
        </div>
        <div>
          Size:  <%= p.size %> cm
        </div>
        <div>
          Price: <%= p.price %> rub
        </div>
        <div>
          <button class="btn btn btn-outline-success btn-sm" onclick="add_to_cart(<%= p.id %>)">Order me!</button>
        </div>
      </div>
    </P>
    <% end %>

    <p>
      <button class="btn btn-primary" onclick="something()">Click me</button>
    </p>

  </div>
</div>
